code .atn,
code .kwd,
code .tag {
    font-weight: 700
}

code .prettyprint {
    display: block;
    background-color: #333
}

code .nocode {
    background-color: none;
    color: #000
}

code .str {
    color: #ffa0a0
}

code .kwd {
    color: khaki
}

code .com {
    color: #87ceeb
}

code .typ {
    color: #98fb98
}

code .lit {
    color: #cd5c5c
}

code .pln,
code .pun {
    color: #fff
}

code .tag {
    color: khaki
}

code .atn {
    color: #bdb76b
}

code .atv {
    color: #ffa0a0
}

code .dec {
    color: #98fb98
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}
